.clearfix { }
.clearfix::before, .clearfix::after { display: table; content: ""; line-height: 0; }
.clearfix::after { clear: both; }
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px; }
b, strong { font-weight: bold; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px; }
figure { margin: 0px; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px; padding: 0px; }
input { line-height: normal; }
@-moz-document url-prefix("") { .td-smart-list-dropdown-wrap .td-smart-list-container::before { top: 9px; } }
@-moz-document url-prefix("") { .td-left-smart-list, .td-right-smart-list { line-height: 38px; } }
@-moz-document url-prefix("") { .td_smart_list_4 .td-sml-current-item-nr { line-height: 32px; } }
@-moz-document url-prefix("") { @media (min-width: 768px) {
  .td-header-style-5 .td-main-menu-logo a img, .td-header-style-6 .td-main-menu-logo a img, .td-header-style-12 .td-main-menu-logo a img { top: -1px; }
} }
@-moz-document url-prefix("") { .td-theme-slider .slide-meta-cat a { padding: 3px 7px 4px; } @media (max-width: 767px) {
  .td-theme-slider .slide-meta-cat a { line-height: 12px; }
} }
.td_block_popular_categories { padding-bottom: 0px; }
.td-related-row { margin-right: -21px; }
.td-related-row::before, .td-related-row::after { display: table; content: ""; }
.td-related-row::after { clear: both; }
.td-related-row [class*="td-related-span"] { display: block; min-height: 1px; float: left; padding-right: 24px; padding-left: 24px; }
@media (min-width: 1019px) and (max-width: 1140px) {
  .td-related-row [class*="td-related-span"] { padding-right: 20px; padding-left: 20px; }
}
@media (min-width: 768px) and (max-width: 1018px) {
  .td-related-row [class*="td-related-span"] { padding-right: 14px; padding-left: 14px; }
}
@media (max-width: 767px) {
  .td-related-row [class*="td-related-span"] { padding-right: 0px; padding-left: 0px; float: none; width: 100%; }
}
.td-related-row .td-related-span4 { width: 33.3333%; padding-left: 0px; padding-right: 21px; }
@media (max-width: 500px) {
  .td-related-row .td-related-span4 { padding-right: 10px; }
}
@media (max-width: 500px) {
  .td-related-row { margin-right: -10px; }
}
.td_block_related_posts { position: relative; }
.td_block_related_posts .td-module-thumb { margin-bottom: 7px; }
@media (max-width: 767px) {
  .td_block_related_posts .td-module-thumb { margin-bottom: 0px; }
}
.td_block_related_posts .td-module-title { font-family: var(--td_default_google_font_2, 'Roboto', sans-serif); font-weight: 500; font-size: 13px; line-height: 20px; margin-top: 0px; }
@media (max-width: 767px) {
  .td_block_related_posts .td-module-title { font-size: 17px; line-height: 23px; }
}
@media (max-width: 767px) {
  .td_block_related_posts .td-related-span4 { width: 100%; }
  .td_block_related_posts .td-module-image { position: absolute; width: 100px; }
  .td_block_related_posts .item-details { padding-left: 110px; min-height: 70px; margin-bottom: 26px; }
}
.td_block_related_posts .td-next-prev-wrap { margin-top: 0px; }
.td_block_template_1 .td-related-title { border-bottom: 2px solid var(--td_theme_color, #4db2ec); }
.td_block_template_1 .td-related-title a { line-height: 1; padding: 9px 12px 5px; }
@media (max-width: 319px) {
  .td_block_template_1 .td-related-title a { width: 100%; font-size: 12px !important; }
}
.td_block_template_1 .td-related-title .td-cur-simple-item { background-color: var(--td_header_color, #222222); color: rgb(255, 255, 255); }
.td_block_template_1 .td-related-title .td-cur-simple-item:hover { color: rgb(255, 255, 255); }
.td-related-title { font-family: var(--td_default_google_font_2, 'Roboto', sans-serif); font-size: 14px; line-height: 1; margin-top: 0px; margin-bottom: 27px; }
.td-related-title > .td-related-left, .td-related-title > .td-related-right { display: inline-block; white-space: nowrap; }
@media (max-width: 320px) {
  .td-related-title > .td-related-left, .td-related-title > .td-related-right { font-size: 13px !important; }
}
.td-related-title > .td-related-right { }
@media (max-width: 767px) {
  .td-related-title > .td-related-right { margin-right: 0px !important; }
}
@-moz-document url-prefix("") { .td_block_template_1 .td-related-title > .td-related-left, .td_block_template_1 .td-related-title > .td-related-right { padding: 8px 12px 6px; } }
.td_mod_related_posts:hover h3 > a { color: var(--td_theme_color, #4db2ec); }
@-moz-document url-prefix("") { .td-category-header .td-pulldown-filter-display-option { padding: 4px 13px 5px; } }
@-moz-document url-prefix("") { .td_category_template_3 .td-category-siblings .td-subcat-more { padding: 3px 5px 4px; } }
@-moz-document url-prefix("") { .td_category_template_4 .td-category-siblings .td-subcat-more { padding: 3px 5px 4px; } }
@-moz-document url-prefix("") { .td_category_template_6 .td-pulldown-filter-display-option { padding: 3px 13px 4px; } }
@-moz-document url-prefix("") { .td_category_template_8 .td-category-pulldown-filter .td-pulldown-filter-display-option { padding: 3px 13px 4px; } .td_category_template_8 .td-category-header .td-category a { padding: 4px 7px 3px; } }
@-moz-document url-prefix("") { .td-review-header .block-title { padding: 7px 12px; } }
@-moz-document url-prefix("") { .td-review-summary .block-title { padding: 7px 12px; } }
.td-block-title span, .td-block-title a { display: inline-block; }
@-moz-document url-prefix("") { .td_block_template_3 .td-block-title > * { padding-bottom: 2px; } }
@-moz-document url-prefix("") { .td_block_template_4 .td-block-title > * { padding-bottom: 2px; } }
.td_block_template_5 .td-block-title { font-size: 16px; font-weight: 500; margin-top: 0px; margin-bottom: 26px; line-height: 25px; color: rgb(0, 0, 0); text-align: left; }
.td_block_template_5 .td-block-title > * { padding: 0px 12px; border-width: 0px 0px 0px 4px; border-style: solid; border-color: var(--td_theme_color, #4db2ec); }
@-moz-document url-prefix("") { .td_block_template_7 .td-subcat-filter { margin-top: -2px; } }
@-moz-document url-prefix("") { .td-pulldown-syle-default .td-subcat-more, .td-pulldown-syle-default .td-subcat-list { position: relative; top: -1px; } }